<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<!-- <!DOCTYPE log4j:configuration PUBLIC
  "-//APACHE//DTD LOG4J 1.2//EN" "http://logging.apache.org/log4j/1.2/apidocs/org/apache/log4j/xml/doc-files/log4j.dtd"> -->
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

    <appender name="PROJECT" class="org.apache.log4j.DailyRollingFileAppender">
        <param name="file" value="log/task/task-client.log" />
        <param name="append" value="true" />
        <param name="encoding" value="UTF-8" />
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d %p [%c{10}] - %m%n" />
        </layout>
    </appender>

    <appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender">
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d [%c{10}] - %m%n" />
        </layout>
    </appender>

    <logger name="com.oversea">
        <level value="DEBUG"/>
        <appender-ref ref="PROJECT" />
        <appender-ref ref="CONSOLE" />
    </logger>
    
    
    <!-- <appender name="PROJECT" class="org.apache.log4j.DailyRollingFileAppender">
        <param name="file" value="rpc.log" />
        <param name="append" value="true" />
        <param name="encoding" value="UTF-8" />
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d %p [%c{10}] - %m%n" />
        </layout>
    </appender>

    <appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender">
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d [%c{10}] - %m%n" />
        </layout>
    </appender> -->

    <logger name="com.haihu.rpc">
        <level value="INFO"/>
        <appender-ref ref="PROJECT" />
        <appender-ref ref="CONSOLE" />
    </logger>
    
</log4j:configuration>